.card {
  /* background-color: rgb(216, 233, 255); */
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 80%;
  margin: 0 auto 1rem auto;
  background-color: rgb(252, 252, 252);
}

/* .card p {
  padding: 8px;
} */
