.releaseListDate {
  /* font-weight: 900; */
  display: block;
}

.releaseList {
  text-align: left;

  /* background-color: cornflowerblue; */
}

.releaseList hr {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
