.releaseNote {
  /* background-color: cornflowerblue; */
  height: 70vh;
  overflow-y: scroll;
}

.releaseLists {
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
  padding: 1vh 1rem;
}
